@media (max-width: 425px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;  
    }
    .star2 {
        width: 35px;
        height: 35px;
        left: 38px;
        top: 97px;
    }
    .star3 {
        width: 21px;
        height: 21px;
        left: 92px;
        top: 64px;
    } 
    .star4 {
        width: 39px;
        height: 41px;
        left: 304px;
        top: 580px;
    }
    .star5 {
        width: 18px;
        height: 18px;
        left: 273px;
        top: 557px;
    }

    .top {
        height: 700px;
        background-image: none;
    }
    .top-page {
        // max-width: 343px;
        padding-top: 147px;
        &__title {
            font-size: 40px;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center; 
        }
        &__description {
            padding-right: 0px;
            font-size: 16px;
            line-height: 20px;
            text-align: center; 
            padding-bottom: 36px;
        }
        &__btn {
            display: flex;
            justify-content: center;

        }
        &__link {
            width: 285px;
            height: 55px;
            font-size: 16px;
            text-align: center;
        }
    }
    .ani-strip {
        margin-top: 131px;
        width: 1717px;
        height: 51px;
        &__text {
            font-size: 16px;
            padding-right: 27px;
            &::after {
                content: url(./Img/Star-mobile.svg);
                padding-left: 27px;
            }
            
        }
    }
    .about-games {
        display: none;
    }
    

}