%shared-styles {
    padding-right: 48px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-bottom: 48px;
}

%shared-titles {
    padding-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
}