.about-games__description, .top-page__description {
  padding-right: 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-bottom: 48px;
}

.about-games__main, .top-page__title {
  padding-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.heading-star {
  position: relative;
}

.star2 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.star3 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.star-group {
  position: absolute;
  top: -333px;
  left: 854px;
  overflow-x: hidden;
}

.star5 {
  position: absolute;
  top: 538px;
  left: 948px;
}

.star4 {
  position: absolute;
  top: 568px;
  left: 1013px;
}

.top {
  height: 720px;
  background-color: rgb(225, 255, 143);
  background-image: url(./Img/star-group.png);
  background-position: calc(100% + 488px) 100%;
  background-repeat: no-repeat;
}

.top-page {
  max-width: 768px;
  padding-top: 196px;
}
.top-page__title {
  color: rgb(32, 32, 39);
}
.top-page__description {
  color: rgb(32, 32, 39);
}
.top-page__bold {
  font-weight: 600;
}
.top-page__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font-family: inherit;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  text-decoration: none;
}
.top-page__link:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.ani-strip {
  background-color: rgb(188, 236, 48);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90px;
  overflow-x: hidden;
  text-wrap: nowrap;
}
.ani-strip__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  padding-right: 51px;
}
.ani-strip__text::after {
  content: url(./Img/Star.svg);
  padding-left: 51px;
}

.about:hover {
  transform: scale(1.1);
}

.about-games {
  padding-top: 94px;
  background-color: rgb(32, 32, 39);
  background-image: url(./Img/aboutGamesStar.png);
  background-position: calc(100% + 120px) 77px;
  background-repeat: no-repeat;
  height: 1380px;
  position: relative;
}
.about-games__main {
  color: rgb(255, 255, 255);
}
.about-games__description {
  color: rgb(255, 255, 255);
}
.about-games__star {
  position: absolute;
  top: 77px;
  left: 933px;
  transform: rotate(-6.77deg);
}
.about-games__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.about-games__card {
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  height: 473px;
  width: 378px;
  transition: 0.5s;
}
.about-games__card_bigger {
  height: 512px;
}
.about-games__card_bigest {
  height: 551px;
}
.about-games__card_marg {
  margin-top: 40px;
}
.about-games__text {
  padding: 32px;
  padding-bottom: 4px;
}
.about-games__number {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}
.about-games__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  padding-top: 16px;
}

.star11 {
  position: absolute;
  top: 770px;
  left: 25px;
}

.star12 {
  position: absolute;
  top: 822px;
  left: 40px;
}

.mini-games {
  background-color: rgb(32, 32, 39);
  position: relative;
  padding-bottom: 144px;
}
.mini-games__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mini-games__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 72px;
  color: rgb(255, 255, 255);
}
.mini-games__card {
  max-height: 500px;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.mini-games__card_reverse {
  flex-direction: row-reverse;
}
.mini-games__text {
  padding: 48px;
}
.mini-games__name {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
  padding-bottom: 24px;
  padding-right: 50px;
}
.mini-games__discription {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-right: 81px;
  padding-bottom: 36px;
}
.mini-games__discription_last {
  padding-right: 0;
}
.mini-games__btn {
  width: 247px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font-family: inherit;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  text-decoration: none;
}
.mini-games__btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.mini-star1 {
  position: absolute;
  top: 92px;
  left: calc(100% - 150px);
}

.mini-star2 {
  position: absolute;
  bottom: 55px;
  left: calc(100% - 178px);
}

.foot {
  padding: 60px;
  background-color: rgb(189, 237, 53);
}
.foot__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 425px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .star2 {
    width: 35px;
    height: 35px;
    left: 38px;
    top: 97px;
  }
  .star3 {
    width: 21px;
    height: 21px;
    left: 92px;
    top: 64px;
  }
  .star4 {
    width: 39px;
    height: 41px;
    left: 304px;
    top: 580px;
  }
  .star5 {
    width: 18px;
    height: 18px;
    left: 273px;
    top: 557px;
  }
  .top {
    height: 649px;
    background-image: url(./Img/StarBGmobile.png);
    background-position: calc(100% + 94px) -94px;
    background-repeat: no-repeat;
  }
  .top-page {
    padding-top: 147px;
  }
  .top-page__title {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top-page__description {
    padding-right: 0px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
  }
  .top-page__btn {
    display: flex;
    justify-content: center;
  }
  .top-page__link {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .top-page__link:hover {
    background-color: black;
    color: white;
  }
  .ani-strip {
    height: 51px;
  }
  .ani-strip__text {
    font-size: 16px;
    padding-right: 27px;
  }
  .ani-strip__text::after {
    content: url(./Img/Star-mobile.svg);
    padding-left: 27px;
  }
  .about-games {
    display: none;
  }
  .mini-star1,
  .mini-star2 {
    display: none;
  }
  .mini-games {
    padding-bottom: 48px;
  }
  .mini-games__title {
    font-size: 40px;
    line-height: 49px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mini-games__block {
    gap: 24px;
  }
  .mini-games__card {
    flex-direction: column-reverse;
    max-height: 100%;
  }
  .mini-games__text {
    padding: 29px;
    padding-bottom: 32px;
  }
  .mini-games__name {
    font-size: 32px;
    line-height: 39px;
    padding-right: 0px;
    padding-bottom: 16px;
  }
  .mini-games__discription {
    font-size: 16px;
    line-height: 20px;
    padding-right: 4px;
    padding-bottom: 32px;
  }
  .mini-games__discription_last {
    padding-right: 40px;
  }
  .mini-games__btn {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }
  .mini-games__btn:hover {
    background-color: black;
    color: white;
  }
  .mini-games__img {
    height: auto;
  }
  .mini-games__pic {
    width: 100%;
  }
  .foot {
    padding: 40px;
  }
  .foot__text {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */